@use 'base/variables' as v;
@use 'base/mixins' as m;

.foter-pagina {
    background-color: v.$rosa;
    padding: 1rem 0;

    p {
        font-size: 3rem;
        text-align: center;
        color: v.$blanco;
    }
}